
@media only screen and (max-width: 992px){

    .text-sm{
       font-size:2.2rem !important;
    }
    .footer-sm {
        position: fixed;
        bottom: 0;
        width: 100% !important;
      }
    .figure-sm{
        height: auto !important;
    }
    
}