@import "presets";
@import "responsive";

$primary: #041c32;
$secondary: #ecb365;

body {
  background-color: $primary;
  color: white;
}
header {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  margin-bottom: 2rem;
  a
   {
     color: black;
    .fa-star {
      color: #151718;
    }
    border: none;
    outline: none;
    font-size: 1.8rem;
    width: fit-content;
    height: fit-content;
    background-color: $secondary;
    padding: 10px;
    border-radius: 5px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin: 0px;
  }
  p {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.65rem;
    padding: 10px;
  }

  figure {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 90%;
      margin: 0px;
    }
  }
}

footer {
  background-color: #04293A;
  color: #dde2e9;
  display: flex;
  height: fit-content;
  padding: 15px;
  justify-content: center;
  margin-top: 4rem;
  a {
    text-decoration: none;
    color: $secondary;
  }
  .fa-heart {
    color: $secondary;
  }
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1{
background-color: #064663;
}
.double-bounce2{
  background-color: $secondary;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary;
  z-index: 999999;
  transition: display 2s;
  }